@import '../config/variables';


// function
@mixin header-nav {
    display: flex;
    color: $title-color;
}

@mixin nav-img {
    position: absolute;
    opacity: .2;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    width: 100%;
    background-color: $body-color;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    transition: box-shadow .3s, background .4s;
    /*For animation dark mode*/
}

/*=============== NAV ===============*/
.nav {
    position: relative;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        @include header-nav;
        align-items: center;
        column-gap: .5rem;
        font-family: $title-font;
        font-size: $h3-font-size;
        font-weight: $font-semi-bold;
        transition: color .3s;

        img {
            width: 25px;
        }

        &:hover {
            color: $first-color;
        }
    }

    &__toggle {
        @include header-nav;
        font-size: 1.25rem;
        cursor: pointer;
    }

    @media screen and (max-width: 767px) {
        &__menu {
            position: fixed;
            left: 0;
            top: -100%;
            background-color: $body-color;
            width: 100%;
            box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
            padding-block: 3.5rem;
            transition: top .4s;
        }

    }

    &__list {
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 2rem;

        .nav__link {
            color: $title-color;
            font-weight: $font-medium;
            transition: color .4s;

            &:hover {
                color: $first-color;
            }
        }
    }

    &__close {
        @include header-nav;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__img-1 {
        @include nav-img;
        width: 100px;
        top: -1rem;
        left: -2rem;
        transform: rotate(165deg);
    }

    &__img-2 {
        @include nav-img;
        width: 50px;
        right: -1rem;
        bottom: -1rem;
        transform: rotate(-30deg);
    }

}


/* Show menu */
.show-menu {
    top: 0;
}

/* Change background header */
.bg-header {
    box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
}

/* Active link */
.active-link {
    color:$first-color;
}