@import '../config/variables';

/*=============== NEWSLETTER ===============*/

.newsletter__container {
    position: relative;

    .newsletter__content {
        position: relative;
        background-color: hsl(19, 24%, 15%);
        border-radius: 2.5rem;
        padding: 5rem 1rem 3rem;
        text-align: center;
        overflow: hidden;
        margin-bottom: 2rem;

        .newsletter__img {
            width: 250px;
            position: absolute;
            top: -4.5rem;
            left: -8rem;
        }

        .newsletter__data .section__title {
            color: #fff;
            margin-bottom: 2rem;
        }

        .newsletter__form {
            background-color: #fff;
            padding: 5px 5px 5px 16px;
            border-radius: 4rem;
            display: flex;
            column-gap: .5rem;
        }

        .newsletter__input,
        .newsletter__button {
            font-family: var(--body-font);
            border: none;
            outline: none;
        }

        .newsletter__input {
            width: 90%;
            color: var(--text-color);
        }

        .newsletter__button {
            cursor: pointer;
        }
    }

    .newsletter__spinach{
        width: 30px;
        position: absolute;
        right: 2rem;
        bottom: -2rem;
        transform: rotate(45deg);
      }
      
      .newsletter__container,
      .newsletter__form,
      .newsletter__input{
        transition: background 0.4s; /* for dark mode animation */
      }
}