@import '../config/variables';

/*=============== POPULAR ===============*/

.popular__container {
    padding-top: 4rem;
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 5.5rem;

    .popular__card {
        position: relative;
        background-color: $container-color;
        padding: 7rem 2rem 1.5rem;
        box-shadow: 0 8px 20px hsla(19, 64%, 48%, .08);
        border-radius: 1rem;
        text-align: center;
        transition: background 0.4s;
        /* for dark mode animation */

        .popular__img {
            width: 220px;
            position: absolute;
            inset: 0;
            top: -2.5rem;
            margin: 0 auto;
            transition: transform .4s;
        }

        .popular__name {
            font-size: $h3-font-size;
            font-family: $title-font;
            margin-bottom: .25rem;
        }

        .popular__description {
            display: block;
            font-size: $smaller-font-size;
            margin-bottom: 1rem;
        }

        .popular__price {
            font-size: $h3-font-size;
            font-weight: $font-medium;
            color: $first-color;
        }

        .popular__button {
            display: flex;
            background-color: $first-color;
            padding: 6px;
            border-radius: 50%;
            border: none;
            outline: none;
            color: #fff;
            font-size: 1.25rem;
            box-shadow: 0 4px 20px hsla(19, 64%, 20%, .2);
            position: absolute;
            bottom: 1.25rem;
            right: 1.25rem;
            cursor: pointer;
            transition: background .3s;

            &:hover {
                background-color: $first-color-alt;
            }
        }

        &:hover .popular__img {
            transform: translateY(-.25rem);
        }
    }
}