@import '../config/variables';

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(19, 8%, 75%);
  }
  
  ::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: hsl(19, 8%, 65%);
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: hsl(19, 8%, 55%);
  }